/* 
    Visual styling for the loading graphic visible while downloading the video
    loading_graphic.css
*/
.progressGraphic > .pg-outside {
    position: absolute;
    color: black;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(79,79,164,1) 50%, rgba(0,212,255,1) 100%);
    border-radius: 50%;
    border: 1px solid green;
    height: 32px;
    width: 32px;
    animation: load_animation 1s infinite;
    animation-timing-function: steps(12);
}

.progressGraphic > .pg-center {
    margin-left: 8px;
    margin-top: 8px;
    position: absolute;
    background: inherit !important;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.progressGraphic > .pg-text {
    padding-top: 2px;
    margin-left: 48px;
}

@keyframes load_animation {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}